/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;
    margin: 0;
 }

header {
    /* background: rgba(0, 0, 0, 0.8) url("bg.png") repeat scroll 0% 0% / 40px 80px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 80px;
    position: fixed;
    text-align: left;
    width: 100%;
}
header .sidebar h3 {
	padding-top: 5px;
	margin: 0;
}
header .sidebar h3 i {
	font-size: 40px;
	padding: 10px 20px 10px 10px;
}