<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Messenger</h1>
  </div>
</div>



<% @messages.each do |message| %> 
<div class="container">
	<div class="message"> 
	  <p class="content"><%= message.context %></p> 
	  <p class="time"><%= message.created_at %></p> 
	</div> 
	<% end %>

  <%= link_to 'New Message', "messages/new" %>
 </div>